<link rel="stylesheet" href="assets/css/header.css">

<header class="header">
    <div class="profile-wrapper">
        <img src="/assets/img/profilephoto.png" alt="mainprofilephoto">
        <div class="profiletext">
            <p class="name">Santiago Laguado Osorio</p>
            <p class="occ">Software Developer</p>
        </div>
    </div>    
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#proyects">Proyects</a>
            <a href="#contact">Contact</a>

            <div class="separator">|</div>
            <div class="custom-select-wrapper">
                <select id="language">
                  <option value="en">ESP</option>
                  <option value="es">ENG</option>
                </select>
            </div>
              
        </nav>
</header>